html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

path {
  fill: #858992;
  stroke: none;
  border: none;
}

path:hover {
  /* fill: aqua; */
}

/* path:active {
  outline: none;
} */

.App {
  font-family: sans-serif;
  text-align: center;
}

.places-container > div {
  width: 20rem;
}
.places-container > div > input {
  width: 20rem;
}

g:hover path {
  fill: aqua;
}
